# Base Web & API
fastapi
uvicorn
python-multipart
streamlit
requests
huggingface_hub

# Data & Database
pandas==2.2.0

# AI & NLP Core
torch>=2.0.0
transformers>=4.30.0
sentencepiece
tokenizers
accelerate
scikit-learn
nltk
spacy
rapidfuzz
sql_metadata
func_timeout
bitsandbytes
